.custom-dropdown-toggle {
    /* Remove any default caret icon */
    background: none; /* Optional: Keep button styling minimal */
  }

  .custom-dropdown-toggle::after {
    content: none !important; /* Remove the default dropdown caret */
  }

  .list-color{
    background-color: #fff;
  }
  .input-container{
    height: 1.9em;
  }
  .meeting__card{
    background: #fff;
    justify-content: space-around;
    border-radius: 2em;
    width: 100%;
  }
  .crow_pad{
    padding-inline: 3em;
    width: 100%;
  }

/*styling form input*/


/**/
.icon-input-wrapper{
    align-items: center;
    background: hsla(0, 1%, 100%, .2);
    justify-content: flex-start;
    gap: 1.15em;
}

.form-icon{
  color: #fff !important;
}
.input-minimal{
  background: hsla(0, 1%, 100%, 0) !important;
   border: 0 !important;
   height:1.84em;
  width:16em !important;
}

span.icon.icon-pointer-right{
  position: absolute;
  left:2.8em;
}

.input-selected{
  background: #fff !important;
}

.non-selected-icon{
  color: black;
}
.dropdown_card{
  border: 0 !important;
  background: hsla(0, 1%, 100%, .2) !important;
  border-radius:1em !important;
  height:1.9em !important; 
  margin-bottom:0.5em !important;
  color: #fff !important;
  padding-block: 0.2em !important;
}

.unselected-icon-input-wrapper{
  background: #fff;
}

input.form-control.input-minimal:focus {
  border:none;
  outline: none;
  box-shadow: none;
}


.icon_select_circle{
  color: #fff;
}
.row.custom_select_service {
  background: hsla(0, 1%, 100%, .2);
  border-radius: 1em;
  height: 33px;
  margin-inline: 1px;
  padding: 0;
  border: 1px solid;
  width: 100%;
}

.row.crow_pad {
  padding-block: 1em;
  display: flex;
  gap: 1px;
}