

.custom-option {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
  }
  
  
  .custom-option__icon {
    width: 100%;
    height: 100%;
    background-color: rgb(177, 70, 194);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .avatar-icon__initial {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }
  
  .custom-option__details {
    display: flex;
    flex-direction: column;
  }
  
  .custom-option__details strong {
    font-size: 16px;
    margin-bottom: 4px;
  }
  
  .custom-option__details span {
    font-size: 14px;
    color: #555;
  }
  