
.custom_description {
    top: 10px; /* Adjust the top position */
    font-size: 1rem; /* Change font size if needed */
    transition: all 0.2s ease; /* Smooth transition for floating effect */
  }
  
  .custom_txtarea:focus ~ .custom_description,
  .custom_txtarea:not(:placeholder-shown) ~ .custom_description {
    top: -20px; /* Move the label higher when focused */
    font-size: 0.85rem; /* Adjust font size when floating */
    color: #007bff; /* Change color for better visibility */
  }


  .custom_duration {
    top: 10px; /* Adjust the top position */
    font-size: 1rem; /* Change font size if needed */
    transition: all 0.2s ease; /* Smooth transition for floating effect */
  }
  
  .custom_input_duration:focus ~ .custom_duration,
  .custom_input_duration:not(:placeholder-shown) ~ .custom_duration {
    top: -20px; /* Move the label higher when focused */
    font-size: 0.85rem; /* Adjust font size when floating */
    color: #007bff; /* Change color for better visibility */
  }

  .custom_title {
    top: 10px; /* Adjust the top position */
    font-size: 1rem; /* Change font size if needed */
    transition: all 0.2s ease; /* Smooth transition for floating effect */
  }
  
  .custom_input_title:focus ~ .custom_title,
  .custom_input_duration:not(:placeholder-shown) ~ .custom_title {
    top: -20px; /* Move the label higher when focused */
    font-size: 0.85rem; /* Adjust font size when floating */
    color: #007bff; /* Change color for better visibility */
  }

  .service_crow{
    flex-direction: column;
    gap: 1em;
  }