.footer {
    position: fixed;
    width: 100%;
    color: #fff;
    background-color: #000;
    padding: 1rem;
    display: flex;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    z-index: 999;
}