
.custom_appointment_font{
  font-size: 1.4em;
}

.container.custom_section{
  width:50%;
}

.custom_dropdown_locations {
    background:#fff;
    width:100%; 
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.dropdown_card{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.responsive-icon{
    width: 24px;
    height: 24px;
}

.form-icon {
  width: 1.5rem;
}

/* layout */
.container.custom_container
.custom_section {
    flex:1
}
.custom_section{
  gap:1rem;
}
@media (max-width: 550px) {
    .responsive-icon {
      width: 4vw;
      height: 4vw;
    }
   .form-icon {
      width: 1rem;
   }
   .container.custom_section{
    width:100%;
  }
  
}