

@media (max-width: 768px){
 .custom_col{
  height: 42px;
 }
 .resp_img{
  width: 10%;
 }
 span.custom_span_sz{
  gap:1% !important;
 }
}


p.text_resp {
  font-size: 0.85rem;
  padding: 0;
  margin: 0;
  /* display: contents; */
  /* font-size: 1px; */
}

.custom_col {
  box-shadow: 0px 4px 6px 0px rgba(50,50,93,0.11) , 0px 1px 3px 0px rgba(0,0,0,0.08);
}
@media (min-width: 768px){
  .custom_col {
      height: 2.5em;
  }
  }

  .row.d-flex.custom_row_inputs {
    height: 100%;
    align-items: center;
}

input.form-control.input-minimal {
    padding-inline-start:0;
    border: 0;
    outline: none;
    color: none;
}
input.form-control.input-minimal:focus {
    border: 0;
    outline: none;
    color: none;
    box-shadow:none;
}
input.selected_flatpicky {
  border: 0;
  outline:none;
}

input.selected_flatpicky:focus {
  box-shadow:none;
}
  
.reserver_btn{
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.custom_appointment_font{
  font-size: 1.4em;
}

.container.custom_section{
    
    background:#fff;
   box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  width:50%;
}

.custom_row_inputs{
  padding-inline: 1rem;
}
.custom_dropdown_locations {
    background:#fff;
    width:100%; 
    /* box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em; */
}
.dropdown_card{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.responsive-icon{
    width: 24px;
    height: 24px;
}

.form-icon {
  width: 1.5rem;
}

/* layout */
.container.custom_container
.custom_section {
    flex:1
}
.custom_section{
  box-shadow: 7px 7px 15px #bbcfda,-4px -4px 13px #fff, inset 4px 4px 8px rgba(209, 217, 230, 0.2),  inset -8px -8px 8px rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3); 
  background: #e8eff5;
  gap:1.225rem;
}

span.custom_span_sz{
  display: flex;
  align-items: center;
  gap: 10%;
}
@media (max-width: 550px) {
    .responsive-icon {
      width: 4vw;
      height: 4vw;
    }
   .form-icon {
      width: 1rem;
   }
   .container.custom_section{
    width:100%;
  }
  
}