
.custom_dropdown_locations {
    background:#fff;
    width:100%; 
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.dropdown_card{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.responsive-icon{
    width: 24px;
    height: 24px;
}
@media (max-width: 476px) {
    .responsive-icon {
      width: 4vw;
      height: 4vw;
    }
}