*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  background-color: #f3f3f3 !important
}

.ant-layout-content {
  min-height: 80vh;
  /* margin: 5px auto; */
} 
 button.ant-btn{
  background: #2C61AD;
  border: 1px solid #2C61AD;
  border-radius: 5px ;
  color: white;
  height: 40px;
  padding: 6.4px 20px;
  font-size: 16px;
  border-radius: 40px;
 }