@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



*,
*::before,
*::after {
  box-sizing: border-box;
}

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  background-color: #f3f3f3 !important;
  font-family: "Merriweather", serif;
}

.ant-layout-content {
  min-height: 80vh;
  /* margin: 5px auto; */
} 
 button.ant-btn{
  background: #2C61AD;
  border: 1px solid #2C61AD;
  border-radius: 5px ;
  color: white;
  height: 40px;
  padding: 6.4px 20px;
  font-size: 16px;
  border-radius: 40px;
 }


 .custom_booking_container{
  background:#fff;
  display: flex;
  justify-content: center;
  border: 2px solid pink;
  padding-block: 5%;
  align-items: center;
   flex-direction: column;
}

.custom_card{
  min-width: 50%;
}

