// Variable overrides
//
// If you want to customize your project please add your variables below.

$enable-deprecation-messages: false !default;

$primary-color: #17679b;
$secondary-color: #FFFFFF;
$footer-bg-color: #5C5C5C;
$white: #FFFFFF;
$disabled-checked-color: #A3D8E5;
$red-error-color: #FF0000;
